$primary_dark: #0e2356;
$primary-mediumdark: #3b4270;
$primary-medium: #61648c;
$primary-mediumlight: #8788a7;
$primary-light: #aeaec4;
$secondary_dark: #00afcb;
$secondary_mediumdark: #57bcd4;
$secondary_medium: #80cadc;
$secondary_mediumlight: #a2d7e5;
$secondary_light: #c2e4ee;
$yellow_ocac_dark: #ffb600;
$yellow_ocac_mediumdark: #ffc246;
$yellow_ocac_medium: #ffce6e;
$yellow_ocac_mediumlight: #ffda93;
$yellow_ocac_light: #ffe6b7;
$black_ocac_dark: #1d1d1b;
$black_ocac_mediumdark: #3d3d3b;
$black_ocac_medium: #5f5f5e;
$black_ocac_mediumlight: #858583;
$black_ocac_light: #acacab;
$orange_dark: #ff7325;
$orange_mediumdark: #ff8c4c;
$orange_medium: #ffa36f;
$orange_mediumlight: #ffba92;
$orange_light: #ffd1b6;
$purple_dark: #8b69d3;
$purple_mediumdark: #a081db;
$purple_medium: #b499e2;
$purple_mediumlight: #c7b2ea;
$purple_light: #dacbf1;
$blue_dark: #14c4b3;
$blue_mediumdark: #5acebf;
$blue_medium: #82d8cc;
$blue_mediumlight: #a4e2d8;
$blue_light: #c3ece5;
$green_dark: #2bc82b;
$green_mediumdark: #62d254;
$green_medium: #87dc78;
$green_mediumlight: #a8e599;
$green_light: #c6eebb;
$red_dark: #ff4338;
$red_mediumdark: #ff6a57;
$red_medium: #ff8b77;
$red_mediumlight: #ffa997;
$red_light: #ffc6b9;
$yellow_dark: #ffed00;
$yellow_mediumdark: #fff04f;
$yellow_medium: #fff277;
$yellow_mediumlight: #fff59b;
$yellow_light: #fff8bd;
$darkest: #333333;
$darker: #444444;
$dark: #666666;
$mediumdark: #999999;
$medium: #dddddd;
$mediumlight: #eeeeee;
$light: #f3f3f3;
$lighter: #f8f8f8;
$lightest: #ffffff;

:export {
  primary_dark: $primary_dark;
  primary_mediumdark: $primary_mediumdark;
  primary_medium: $primary_medium;
  primary_mediumlight: $primary_mediumlight;
  primary_light: $primary_light;
  secondary_dark: $secondary_dark;
  secondary_mediumdark: $secondary_mediumdark;
  secondary_medium: $secondary_medium;
  secondary_mediumlight: $secondary_mediumlight;
  secondary_light: $secondary_light;
  yellow_ocac_dark: $yellow_ocac_dark;
  yellow_ocac_mediumdark: $yellow_ocac_mediumdark;
  yellow_ocac_medium: $yellow_ocac_medium;
  yellow_ocac_mediumlight: $yellow_ocac_mediumlight;
  yellow_ocac_light: $yellow_ocac_light;
  black_ocac_dark: $black_ocac_dark;
  black_ocac_mediumdark: $black_ocac_mediumdark;
  black_ocac_medium: $black_ocac_medium;
  black_ocac_mediumlight: $black_ocac_mediumlight;
  black_ocac_light: $black_ocac_light;
  orange_dark: $orange_dark;
  orange_mediumdark: $orange_mediumdark;
  orange_medium: $orange_medium;
  orange_mediumlight: $orange_mediumlight;
  orange_light: $orange_light;
  purple_dark: $purple_dark;
  purple_mediumdark: $purple_mediumdark;
  purple_medium: $purple_medium;
  purple_mediumlight: $purple_mediumlight;
  purple_light: $purple_light;
  blue_dark: $blue_dark;
  blue_mediumdark: $blue_mediumdark;
  blue_medium: $blue_medium;
  blue_mediumlight: $blue_mediumlight;
  blue_light: $blue_light;
  green_dark: $green_dark;
  green_mediumdark: $green_mediumdark;
  green_medium: $green_medium;
  green_mediumlight: $green_mediumlight;
  green_light: $green_light;
  red_dark: $red_dark;
  red_mediumdark: $red_mediumdark;
  red_medium: $red_medium;
  red_mediumlight: $red_mediumlight;
  red_light: $red_light;
  yellow_dark: $yellow_dark;
  yellow_mediumdark: $yellow_mediumdark;
  yellow_medium: $yellow_medium;
  yellow_mediumlight: $yellow_mediumlight;
  yellow_light: $yellow_light;
  darkest: $darkest;
  darker: $darker;
  dark: $dark;
  mediumdark: $mediumdark;
  medium: $medium;
  mediumlight: $mediumlight;
  light: $light;
  lighter: $lighter;
  lightest: $lightest;
}
