@import '../../colors';
@import '../../mixins';

.modal {
  @include default-border;
  @include default-border-radius;
  @include default-font-family;
  margin: 5rem;
  padding: 5rem;
  width: fit-content;
  height: auto;
  right: 0;
  left: 0;
  background-color: $lightest;
  color: $primary-dark;
  z-index: 1;
  border: solid 1px $primary-dark;
  outline: none;
  color: $primary-dark;
}
