@import '../../colors.scss';
@import '../../mixins.scss';

// Common buttons properties
.primary,
.secondary,
.tertiary,
.quaternary,
.primaryOutline,
.secondaryOutline,
.tertiaryOutline,
.quaternaryOutline {
  @include default-border;
  @include default-border-radius;
  cursor: pointer;
  min-height: 2.8rem;
  font-size: 1rem;
  padding: 0 2rem;
  margin: 1rem;
  transition-duration: 0.3s;
  font-family: 'Avenir', 'Century Gothic', sans-serif;
}

.primary {
  color: $lightest;
  background-color: $primary_dark;
  &:disabled {
    opacity:0.4;

  }
}

.secondary {
  color: $lightest;
  background-color: $secondary_dark;
  &:disabled {
    color: $lightest;
    background-color: $secondary_medium;
  }
}

.tertiary {
  background-color: $yellow_ocac_dark;
  color: $lightest;
  &:disabled {
    color: $lightest;
    background-color: $yellow_ocac_medium;
  }
}

.quaternary {
  background-color: $black-ocac_dark;
  color: $lightest;
  &:disabled {
    color: $lightest;
    background-color: $black_ocac_medium;
  }
}

.primaryOutline {
  color: $primary_dark;
  background-color: $lightest;
  border: solid 1px $primary_dark;
  &:hover {
    color: $lightest;
    background-color: $primary_dark;
  }
  &:disabled {
    color: $primary_light;
    background-color: $lightest;
    border: solid 1px $primary_light;
  }
}

.secondaryOutline {
  background-color: $lightest;
  color: $secondary_dark;
  border: solid 1px $secondary_dark;
  &:hover {
    color: $lightest;
    background-color: $secondary_dark;
  }
  &:disabled {
    color: $secondary_light;
    background-color: $lightest;
    border: solid 1px $secondary_light;
  }
}

.tertiaryOutline {
  background-color: $lightest;
  color: $yellow_ocac_dark;
  border: solid 1px $yellow_ocac_dark;
  &:hover {
    color: $lightest;
    background-color: $yellow_ocac_dark;
  }
  &:disabled {
    color: $yellow_ocac_light;
    background-color: $lightest;
    border: solid 1px $yellow_ocac_light;
  }
}

.quaternaryOutline {
  background-color: $lightest;
  color: $black-ocac_dark;
  border: solid 1px $black_ocac_dark;
  &:hover {
    color: $lightest;
    background-color: $black-ocac_dark;
  }
  &:disabled {
    color: $black_ocac_light;
    background-color: $lightest;
    border: solid 1px $black_ocac_light;
  }
}

.link {
  cursor: pointer;
  color: $primary_dark;
  font-size: 1rem;
  &:disabled {
    color: $primary_light;
  }
}
