@import '../../colors';
@import '../../mixins';

// Common buttons properties
.primary,
.secondary,
.tertiary,
.quaternary,
.primary_outline,
.secondary_outline,
.tertiary_outline,
.quaternary_outline {
  @include default-border;
  @include default-border-radius;
  @include default-font-family;
  cursor: pointer;
  min-height: 2.2rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.75rem;
  transition-duration: 0.3s;
  outline: none;
  font-weight: 700;
}

.primary {
  color: $lightest;
  background-color: $primary_dark;
  &:hover {
    background-color: $primary_medium;
  }
  &:disabled {
    color: $primary_light;
    background-color: $primary_medium;
    cursor: not-allowed;
  }
}

.secondary {
  color: $primary_dark;
  background-color: $secondary_dark;
  &:hover {
    background-color: $secondary_medium;
  }
  &:disabled {
    color:$primary_light;
    background-color: $secondary_medium;
    cursor: not-allowed;
  }
}

.tertiary {
  background-color: $yellow_ocac_dark;
  color: black;
  &:hover {
    background-color: $yellow_ocac_medium;
  }
  &:disabled {
    color: $black-ocac_light;
    background-color: $yellow_ocac_medium;
    cursor: not-allowed;
  }
}

.quaternary {
  background-color: $black-ocac_dark;
  color: $lightest;
  &:hover {
    background-color: $black-ocac_medium;
  }
  &:disabled {
    color: $black-ocac_light;
    background-color: $black_ocac_medium;
    cursor: not-allowed;
  }
}

.primary_outline {
  color: $primary_dark;
  background-color: $lightest;
  border: solid 1px $primary_dark;
  &:hover {
    color: $lightest;
    background-color: $primary_dark;
  }
  &:disabled {
    color: $primary_light;
    background-color: $lightest;
    border: solid 1px $primary_light;
    cursor: not-allowed;
  }
}

.secondary_outline {
  background-color: $lightest;
  color: $primary_dark;
  border: solid 1px $secondary_dark;
  &:hover {
    color: $lightest;
    background-color: $secondary_dark;
  }
  &:disabled {
    color: $primary_light;
    background-color: $lightest;
    border: solid 1px $secondary_light;
    cursor: not-allowed;
  }
}

.tertiary_outline {
  background-color: $lightest;
  color: $black_ocac_dark;
  border: solid 1px $yellow_ocac_dark;
  &:hover {
    color: $black_ocac_dark;
    background-color: $yellow_ocac_dark;
  }
  &:disabled {
    color: $black_ocac_light;
    background-color: $lightest;
    border: solid 1px $yellow_ocac_light;
    cursor: not-allowed;
  }
}

.quaternary_outline {
  background-color: $lightest;
  color: $black-ocac_dark;
  border: solid 1px $black_ocac_dark;
  &:hover {
    color: $lightest;
    background-color: $black-ocac_dark;
  }
  &:disabled {
    color: $black_ocac_light;
    background-color: $lightest;
    border: solid 1px $black_ocac_light;
    cursor: not-allowed;
  }
}

.link {
  cursor: pointer;
  color: $primary_dark;
  font-size: 1rem;
  &:disabled {
    color: $primary_light;
    cursor: not-allowed;
  }
}
